<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/.thymeleaf/layout" >


<head>
    <meta charset="UTF-8">
    <title>Shop - Modern Shop</title>
    <!--    <script src="https://cdn.tailwindcss.com"></script> --> <!-- error -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 1. 스타일 적용-->
    <!-- base.html에서 적용되는 CSS: 공통으로 적용되는 스타일-->
    <style th:inline="css">

    </style>
    <th:block layout:fragment="mystyle"></th:block><!-- 페이지별 사용되는 CSS-->

</head>

<body class="bg-gray-50 text-gray-800">

    <!-- Header -->   
    <!-- <div th:replace="~{경로/파일이름::파일안에 있는 프레그먼트}"></div> -->
    <div th:replace="~{fragments/header::navbar}"></div>

    <!-- Main Content -->
    <div class="container mx-auto px-6 py-12">
        <div class="flex flex-col md:flex-row">
            
            <!-- Sidebar -->
            <aside class="md:w-1/4 lg:w-1/5 pr-8">
                <div th:replace="~{fragments/header::sidebar}" class="md:w-1/4 lg:w-1/5 pr-8"></div>
            </aside>


            <main class="md:w-3/4 lg:w-4/5">
                <!-- 각 페이지 콘텐츠 영역-->
                <div layout:fragment="content"></div>
            </main>


        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer::bottom_footer}"></div>


    <!-- 2. javascript-->
    <th:block layout:fragment="myscript"></th:block>
</body>



</html>