<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Header -->
<div th:fragment="navbar">
    <header class="bg-white shadow-md sticky top-0 z-50">
        <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
                <a href="#" class="text-3xl font-bold text-gray-900">ModernShop</a>
                <div class="hidden md:flex items-center space-x-6">
                    <a href="/"  th:href="@{/}" class="text-gray-600 hover:text-gray-900">Home</a>
                    <a href="/admin/item/new"  th:href="@{/admin/item/new}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"
                         class="text-gray-900 font-bold">상품등록</a>
                    <a href="/admin/items" th:href="@{/admin/items}" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"
                        class="text-gray-600 hover:text-gray-900">상품관리</a>
                    <a href="/cart" th:href="@{/cart}" sec:authorize="isAuthenticated()"
                        class="text-gray-600 hover:text-gray-900">장바구니</a>
                    <a href="/orders" th:href="@{/orders}" sec:authorize="isAuthenticated()"
                        class="text-gray-600 hover:text-gray-900">구매이력</a>
                    <div class="flex items-center space-x-4">
                </div>
                <!-- 로그아웃 상태일 경우 활성화 -->
                <a href="/members/login"  th:href="@{/members/login}" sec:authorize="isAnonymous()"
                    class="text-gray-600 hover:text-gray-900">Login</a>
                <!-- 로그인 상태일 경우 회원 정보 추출
                   주의: MemberDTO memberDTO = (MemberDTO)authentication.getPrincipal(); memberDTO.getNickname() ->"principal.nickname" 바로 사용
                 -->
                <!-- 로그인 상태일 경우 활성화 : 방법1
                <span sec:authorize="isAuthenticated()"
                          sec:authentication="principal.nickname"
                          class="text-gray-600 hover:text-gray-900"></span>   -->
               <!-- 로그인 상태일 경우 활성화 : 방법2 -->
               <span sec:authorize="isAuthenticated()"
                    th:text="|${#authentication.principal.nickname}님|"
                    class="text-gray-600 hover:text-gray-900">
               </span>
               <a href="/logout"  th:href="@{/members/logout}" sec:authorize="isAuthenticated()"
                  class="text-gray-600 hover:text-gray-900">Logout</a>
               <a href="/members/new" th:href="@{/members/new}" class="bg-gray-900 text-white px-4 py-2 rounded-    full hover:bg-gray-800">Sign Up</a>
           </div>
       </nav>
   </header>
</div>


<!-- Sidebar -->
<div th:fragment="sidebar">


    <div class="bg-white p-6 rounded-lg shadow-md">
        <div class="mb-8">
            <h3 class="text-xl font-bold mb-4 border-b pb-2">Categories</h3>
            <ul>
                <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">Electronics</a></li>
                <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">Apparel</a></li>
                <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">Books</a></li>
                <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">Home Goods</a></li>
            </ul>
        </div>
        <div>
            <h3 class="text-xl font-bold mb-4 border-b pb-2">Filter by Price</h3>
            <ul>
                <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">$0 - $50</a></li>
                <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">$50 - $100</a></li>
                <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">$100 - $200</a></li>
                <li class="mb-2"><a href="#" class="text-gray-600 hover:text-gray-900">$200+</a></li>
            </ul>
        </div>
    </div>

</div>

<div th:fragment="test2">
    조각 모음3
</div>

</html>